package components

templ Index(name string) {
	<h1>Hello, { name }</h1>
	<a href="/login">Login</a>
	<a href="/logout">Log out</a>
}

templ Admin() {
	<h1>Admin</h1>
}

templ Signup() {
	<h1>Sign up</h1>
}

templ Leaderboard() {
	<h1>Leaderboard</h1>
}
